# Ignore Visual Studio Code workspace files
.vscode/
*.code-workspace

# Ignore Python byte-compile cache
__pycache__/
*.py[cod]

# Ignore files and folders created by the operating system
.DS_Store  # macOS-specific
Thumbs.db  # Windows-specific
Desktop.ini # Windows-specific

# Ignore other files that should not be part of the repository
*.log
*.tmp
*.temp
*.ini